/* Title */

div.SideNavigationTitleContainer {
  margin: unset;
  padding: unset;

  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

a.SideNavigationMenuTitle {
  color: var(--primary);
  text-decoration: none;
}

p.SideNavigationTitle {
  margin: unset;

  font-size: 1.25rem;
  font-weight: bold;
}

/* Arrow */

div.ArrowContainer {
  margin: unset;
  padding: unset;
}

img.DownArrow {
  width: 1rem;
}

/* Navigation Link Section */

div.SideNavigationSection {
  margin: 1rem 0;
  padding: 10px;
}

div.SideNavigationSection.open {
  background-color: var(--bg);

  border-radius: var(--radius-sm);
}

ul.SideNavigationList {
  margin-bottom: unset;
  padding: 0px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
  list-style-type: none;
}

li.SideNavigationListItem {
  margin: 4px 0px;
  padding: 2px 10px;

  border-radius: var(--radius-sm);
}

li.SideNavigationListItem:hover {
  background-color: var(--primary);
  color: var(--inverse);
}

a.SideNavigationListItem, a.main_title {
  text-decoration: none;
}

/* Icons */

div#icons {
  display: flex;
  gap: 0.25rem;

  margin: unset;
  padding: unset;
}

img.icon {
  width: 1.5rem;
}

/* Transition & Animation */

img.arrow_icon {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

div.SideNavigationSection.open img.arrow_icon {
  transform: rotate(180deg);
}

div.SideNavigationSection.open ul.SideNavigationList {
  max-height: 500px;
  opacity: 1;
}
