div.Card {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--border);
  border: 1px solid var(--border);
}

div.Card > :first-child {
  margin-top: 0;
}

div.Card:hover {
  cursor: pointer;
}
